<!DOCTYPE html>

<!--
  The woods are lovely, dark, and deep,
  But I have promises to keep,
  And miles to go before I sleep,
  And miles to go before I sleep.
  ~ Robert Frost
-->

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />

  <title>DocAwards - Healthline</title>

  <link rel="stylesheet" href="stylesheets/app.css">
  <link rel="stylesheet" href="stylesheets/general_foundicons.css">
  <link rel="stylesheet" href="stylesheets/chosen.css">
  <link rel="stylesheet" href="stylesheets/base.css">


  <link rel="stylesheet" href="stylesheets/piemenu.css">
  <link rel="stylesheet" href="stylesheets/elastislide.css">
  <link rel="stylesheet" href="stylesheets/jquery-ui.css" />

  <script src="javascripts/foundation/modernizr.foundation.js"></script>

  <!-- IE Fix for HTML5 Tags -->
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <script type="text/template" id="header_template">
    <header id="header" class="fixed contain-to-grid">
    <nav class="top-bar">

      <ul>
        <li class="name"><h1><a href="#"><span class="foundicon-plus"></span>DocAwards</a></h1></li>
        <li class="toggle-topbar"><a href="#"></a></li>
      </ul>
      <section>
        <ul class="left">
          <li class="divider"></li>
        </ul>

        <ul class="right">

          
          
          <li class="divider"></li>
          <li class="active"><a href="#">Find Doctors</a></li>
        

          
        </ul>
      </section>
    </nav>
    </header>
  </script>

  <script type="text/template" id="landing_template">
      <div id="signup_modal" class="reveal-modal">
        <h3>Signup for DocAwards</h3>
        <form method="post" id="signup_form">
          <div class="field">
            <label>Username</label>
            <input name="data[User][username]" maxlength="45" type="text" placeholder="nikhil_sama">
          </div>

          <div class="field">
            <label>Password</label>
            <input name="data[User][password]" maxlength="45" type="password" placeholder="Secret Password">
          </div>

          <div class="field">
            <label>Role</label>
            <input name="data[User][role]" maxlength="45" type="text" placeholder="doctor" value="Doctor">
          </div>

          <div class="field">
            <input type="submit" id="signup_btn" class="button primary right" value="Signup!">
          </div>
        </form>
        
        <a class="close-reveal-modal">&#215;</a>
      </div>

      <div id="login_modal" class="reveal-modal">
        <h2>Awesome. I have it.</h2>
        <p class="lead">Your couch.  I its mine.</p>
        <p>Im a cool paragraph that lives inside of an even cooler modal. Wins</p>
        <a class="close-reveal-modal">&#215;</a>
      </div>

    <header id="top" class="row fade">
      <a id="logo" href="#"><h1 class="three columns"><i class="foundicon-plus"></i>DocAwards</h1></a>
      <div class="right">
        <a href="#" class="btn signup button tiny primary">Signup</a>
        <a href="#" class="btn login button tiny secondary">Login</a>
      </div>
    </header>

    <section class="main fade">
      <div class="ask_container">
        <div class="container_inner">
        <div class="row">
          <div class="seven columns centered">
            <h5 class="subheader slogan">Get your question answered by over 15,000 doctors</h5>
            <form id="chosen_form" class="row collapse">
              <div class="nine mobile-three columns">
 
                <select class="chzn-select">
                  <<optgroup label="doctor" class="doctor_group">
                    <option value="">Select a term</option>
                  </optgroup>
                  
                </select>
              </div>
              <div class="three mobile-one columns">
                <a href="#" id="search_btn" class="postfix button expand">Ask!</a>
              </div>
            </form>
          </div><!--seven_columns-->
        

        </div><!--container_inner-->
      </div>

      </div><!--ask_container-->
    </section>

    <section class="carousel fade">
     <!-- Elastislide Carousel -->
          <div id="carousel" class="es-carousel-wrapper">
            <h1>Our panelists</h1>

            <div class="es-carousel">
              <ul>

                <li><a href="#"><img src="images/large/2.jpg" alt="image02" /></a></li>
                <li><a href="#"><img src="images/large/3.jpg" alt="image03" /></a></li>
                <li><a href="#"><img src="images/large/4.jpg" alt="image04" /></a></li>
                <li><a href="#"><img src="images/large/5.jpg" alt="image05" /></a></li>
                <li><a href="#"><img src="images/large/6.jpg" alt="image06" /></a></li>
                <li><a href="#"><img src="images/large/7.jpg" alt="image07" /></a></li>
                <li><a href="#"><img src="images/large/8.jpg" alt="image08" /></a></li>
                <li><a href="#"><img src="images/large/9.jpg" alt="image09" /></a></li>
                <li><a href="#"><img src="images/large/10.jpg" alt="image10" /></a></li>
                <li><a href="#"><img src="images/large/11.jpg" alt="image11" /></a></li>
                <li><a href="#"><img src="images/large/12.jpg" alt="image12" /></a></li>
                <li><a href="#"><img src="images/large/13.jpg" alt="image13" /></a></li>
                <li><a href="#"><img src="images/large/14.jpg" alt="image14" /></a></li>
                <li><a href="#"><img src="images/large/15.jpg" alt="image15" /></a></li>
                <li><a href="#"><img src="images/large/16.jpg" alt="image16" /></a></li>
                <li><a href="#"><img src="images/large/17.jpg" alt="image17" /></a></li>
                <li><a href="#"><img src="images/large/18.jpg" alt="image18" /></a></li>
                <li><a href="#"><img src="images/large/19.jpg" alt="image19" /></a></li>
                <li><a href="#"><img src="images/large/20.jpg" alt="image20" /></a></li>
                <li><a href="#"><img src="images/large/21.jpg" alt="image21" /></a></li>
                <li><a href="#"><img src="images/large/22.jpg" alt="image22" /></a></li>
                <li><a href="#"><img src="images/large/23.jpg" alt="image23" /></a></li>
                <li><a href="#"><img src="images/large/24.jpg" alt="image24" /></a></li>
                <li><a href="#"><img src="images/large/25.jpg" alt="image25" /></a></li>
              </ul>
            </div>
          </div>
          <!-- End Elastislide Carousel -->

    </section>
  </script>

  <script type="text/template" id="footer_template">
   <footer class="fade">
      <div class="twelve columns">
        <hr />
        <div class="row">
          <div class="five columns">
            <p>&copy; Copyright DocAwards. All Rights Reserved.</p>
          </div>
          <div class="seven columns">
            <ul class="link-list right">
              <li><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">FAQs</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Terms of Use</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
          </div>
        </div>
      </div> 
    </footer>
  </script>

  <script type="text/template" id="doctor_template">
    <section class="row doctor_profile_headshot">
      <div class="image_wrapper two columns">
        <span href="#" class="th"><img src="http://docawards.com/<%= headshot.image %>" /></span>
      </div>

      <div class="ten columns">  
        <h2><%= headshot.first_name %>  <%= headshot.last_name %></h2>
        <h4 class="subheader"><%= headshot.one_line_intro %></h4>
      </div>
    </section> 

    <hr />

    <section class="row doctor_achievements">
    
      <div class="six columns">
        <!-- Feed Entry -->
        <div class="row about_doc feed_entry doctor_list">
          <h5>Specializations</h5>
          <% _.each(specializations, function(specialization) { %>
            <p class="subheader"><%= specialization["Specialty"]["name"] %></p>
          <% }); %>

          <hr>
          
          <h5>Education and Training</h5>
          <% _.each(qualifications, function(qualification) { %>
            <p class="subheader"><%= qualification["Degree"]["name"] %>, <%= qualification["Location"]["name"] %></p>
          <% }); %>

        </div><!-- End Feed Entry -->
      </div><!--six columns-->
    

      <div class="six columns">
        <!-- Feed Entry -->
        <div class="row about_doc feed_entry doctor_list">
          <h5>Experience</h5>
          <% _.each(experiences, function(experience) { %>
            <div class="exp">
              <p><strong><%= experience["Location"]["name"] %></strong></p>
              <% if (experience["dept"]) { %>
                <p class="subheader">Department: <strong><%= experience["dept"] %></strong></p>
              <% } %>
              <p class="subheader">From: <strong><%= experience["from"] %></strong> to <strong><%= experience["to"] %></strong></p>
            </div><!--exp-->
          <% }); %>

        </div><!-- End Feed Entry -->
      </div><!--six columns-->
    </section>

     <section class="doctor_timings row">
      <div class="seven columns">
        <div class="row feed_entry doctor_list">
           <div class="row">   
            <div class="twelve columns">
              <h5>Contact</h5>

              <table class="twelve">
                <tbody>
                  <% _.each(contacts, function(contact) { %>
                    <tr>
                      <td>Direct</td>
                      <td><i class="foundicon-phone"></i><%= contact["phone"] %></td>
                      <td><i class="foundicon-mail"></i><%= contact["email"] %></td>
                    </tr>
                  <% }); %>
                  
                </tbody>
              </table>
            </div>
          </div><!--row-->
          
          <hr>

          <div class="row">   
            <div class="twelve columns">
              <h5>Location and Timings</h5>

              <table class="twelve">
                <tbody>
                  <% console.log(consultations) %>
                  <% _.each(consultations, function(consultation) { %>
                    <tr>
                      <% if(consultation["ConsultTiming"][0]) { %>
                        <td>Mon, Wed, Thursday</td>
                        <td><%= consultation["ConsultTiming"][0]["start"] %> to <%= consultation["ConsultTiming"][0]["end"] %></td>
                        <td><%= consultation["ConsultTiming"][0]["ConsultType"]["name"] %></td>
                        <td><strong><%= consultation["Location"]["name"] %></strong>
                          <p><%= consultation["Location"]["address"] %>, <%= consultation["Location"]["City"]["name"] %> - <%= consultation["Location"]["PinCode"]["pin_code"] %></p>
                        </td>
                      <% } %>
                      
                    </tr>
                  <% }); %>

          
                  
                </tbody>
              </table>
            </div>
          </div><!--row-->


        </div><!--feed_entry-->
      </div><!--seven columns-->

     <aside class="five columns">
      <div class="panel maps">
        <div class="flex-video">
          <div id="map"></div>
        </div>
      </div><!--panel-->

    </aside>
    </section>
  </script>

  <script type="text/template" id="feed_entry">
      <div class="row inner">
        <div class="three columns">
          <a href="#" class="th"><img src="http://docawards.com/<%= Doctor.image %>" /></a>
        </div>

        <div class="nine columns">
          <a href="#"><h3 class="doctor_name">Dr. <%= Doctor.first_name %> <%= Doctor.last_name %></h3></a>
          <p class="bui"><%= Doctor.one_line_intro %></p>
        </div>
      </div><!--row-->

      

      <div class="row meta bottom">
        <div class="seven columns">
          <div href="#" class="tiny button dropdown up">
            <span class="foundicon-graph icon"></span>Specialization
            <span></span>
            <ul>
              <% _.each(Docspeclink, function(specialization) { %>
                <li><%= specialization["Specialty"]["name"] %></li>
              <% }); %>
            </ul>
          </div><!--button-->


          <div href="#" class="tiny button dropdown up">
            <span class="foundicon-location icon"></span>Location
            <span></span>
            <ul>
              <% _.each(Docconsultlocation, function(location) { %>
                <li><%= location["Location"]["name"] %></li>
              <% }); %>
            </ul>
          </div><!--button-->
        </div>

        <div class="thank_container five columns">
          <a href="#doctor/<%= Doctor.id %>" class="button tiny">View Profile</a>
        </div>
      </div>

  </script>

  <script type="text/template" id="jumbotron">
  <!-- Ask Question -->
  <section class="jumbotron">
    <div class="row find_main">
      <div class="four columns">
        <h2><span class="foundicon-location"></span>Find a doctor</h2>
      </div>

      <div class="eight columns find_doctor_field">
        <div class="row">
          <div class="ten columns">
            <div class="eight columns">
              <input type="text" placeholder="Specialization" />
            </div>
            <div class="four columns">
              <input type="text" placeholder="ZIP" />
            </div>
          </div>
          <div class="two columns">
            <input type="submit" class="button radius" value="Find" />
          </div>
        </div>

      </div><!--eight_columns-->
    </div><!--row-->
  </section>
</script>

<script type="text/template" id="city_template">
  <form method="post">
    <label>City Name</label>
    <input type="text" name="data[City][name]" />

    <input type="submit" id="submit" value="submit" class="button">
  </form>
</script>

<script type="text/template" id="personal_details_template">
  <div class="row">
        <div class="twelve columns">
          <form class="personal_details" method="post">

            <input type="hidden" value="<%= id %>" name="data[Doctor][user_id]">

            <div class="field">
              <div class="row">
                <div class="six columns">
                  <label>First Name</label>
                  <input type="text" name="data[Doctor][first_name]" placeholder="First Name">
                </div>
                <div class="three columns">
                  <label>Middle Name</label>
                  <input type="text" name="data[Doctor][middle_name]" placeholder="Middle Name">
                </div>
                <div class="three columns">
                  <label>Last Name</label>
                  <input type="text" name="data[Doctor][last_name]" placeholder="Last Name">
                </div>
              </div>
            </div>

            <div class="field">
              <div class="row select_row">
              <label>Date of Birth</label>
              <div class="four columns">
                <select name="data[Doctor][DOB][month]" id="DoctorDOBMonth">
                <option value="01">January</option>
                <option value="02">February</option>
                <option value="03">March</option>
                <option value="04">April</option>
                <option value="05">May</option>
                <option value="06">June</option>
                <option value="07">July</option>
                <option value="08">August</option>
                <option value="09">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
                </select>
              </div><!--four columns-->

              <div class="four columns">
                <select name="data[Doctor][DOB][day]" id="DoctorDOBDay">
                <option value="01">1</option>
                <option value="02">2</option>
                <option value="03">3</option>
                <option value="04">4</option>
                <option value="05">5</option>
                <option value="06">6</option>
                <option value="07">7</option>
                <option value="08">8</option>
                <option value="09">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
                <option value="25">25</option>
                <option value="26">26</option>
                <option value="27">27</option>
                <option value="28">28</option>
                <option value="29">29</option>
                <option value="30">30</option>
                <option value="31">31</option>
                </select>
              </div><!--four columns-->

              <div class="four columns">
                <select name="data[Doctor][DOB][year]" id="DoctorDOBYear">
                <option value="2032">2032</option>
                <option value="2031">2031</option>
                <option value="2030">2030</option>
                <option value="2029">2029</option>
                <option value="2028">2028</option>
                <option value="2027">2027</option>
                <option value="2026">2026</option>
                <option value="2025">2025</option>
                <option value="2024">2024</option>
                <option value="2023">2023</option>
                <option value="2022">2022</option>
                <option value="2021">2021</option>
                <option value="2020">2020</option>
                <option value="2019">2019</option>
                <option value="2018">2018</option>
                <option value="2017">2017</option>
                <option value="2016">2016</option>
                <option value="2015">2015</option>
                <option value="2014">2014</option>
                <option value="2013">2013</option>
                <option value="2012">2012</option>
                <option value="2011">2011</option>
                <option value="2010">2010</option>
                <option value="2009">2009</option>
                <option value="2008">2008</option>
                <option value="2007">2007</option>
                <option value="2006">2006</option>
                <option value="2005">2005</option>
                <option value="2004">2004</option>
                <option value="2003">2003</option>
                <option value="2002">2002</option>
                <option value="2001">2001</option>
                <option value="2000">2000</option>
                <option value="1999">1999</option>
                <option value="1998">1998</option>
                <option value="1997">1997</option>
                <option value="1996">1996</option>
                <option value="1995">1995</option>
                <option value="1994">1994</option>
                <option value="1993">1993</option>
                <option value="1992">1992</option>
                </select>
              </div><!--four columns-->
              </div><!--row-->
            </div><!--field-->

            <div class="field">
              <label>Profile Photo</label>
              <input type="text" name="data[Doctor][image]" value="dummy_image.jpg" id="DoctorImage">
            </div>

            <div class="field">
              <label>First Year Of Practice</label>
              <textarea name="data[Doctor][first_yr_of_practice]"></textarea>
            </div>

            <div class="field">
              <label>One-line Bio</label>
              <input type="text" name="data[Doctor][one_line_intro]" placeholder="Your One-line Introduction">
            </div>

            
          </form>      


        </div>
      </div><!--row-->

      <div class="row">
        <div class="right button_list">
          <a href="#" class="button tiny secondary prev disabled">Previous</a>
          <a href="#create_profile/specializations" class="button tiny primary next">Next</a>
        </div>
      </div>
</script>

<script type="text/template" id="specializations_template">
  <div class="row">
        <div class="twelve columns">
          <form class="specializations" method="post">
            <input type="hidden" value="<%= id %>" name="data[Docspeclink][doctor_id]">

            <div class="field">
              <label>Speciality</label>
              <select name="data[Docspeclink][specialty_id]" id="DocspeclinkSpecialtyId">
                  <option value="2">Allergy</option>
                  <option value="1">Allergy and Immunology</option>
                  <option value="3">Anesthesiology (Anesthesia)</option>
                  <option value="4">Audiology (Hearing, Ear)</option>
                  <option value="5">Cardiac Electrophysiology</option>
                  <option value="6">Cardiology (Heart)</option>
                  <option value="7">Cardiovascular (Heart) Surgery</option>
                  <option value="8">Carniofacial Surgery (Facial Plastic Surgery)</option>
                  <option value="9">Certified Nurse Midwife</option>
                  <option value="10">Certified Registered Nurse Anesthetist</option>
                  <option value="11">Chemical Pathology</option>
                  <option value="12">Clinical and Laboratory Immunology</option>
                  <option value="13">Dentistry,A dental practitioner specializes in the care and treatment of the teeth and gums.
                  </option>
                  <option value="14">Dermatology (Skin, hair, nails)</option>
                  <option value="15">Diagnostic Radiology</option>
                  <option value="16">Ear Nose and Throat - Otorhinolaryngology</option>
                  <option value="17">Emergency Medicine (ER)</option>
                  <option value="18">Endocrinology (Thyroid, Adrenal, Diabetes etc.)</option>
                  <option value="19">Family Practice</option>
                  <option value="20">Gastroenterology (Stomach &amp; Digestive Disorders)</option>
                  <option value="21">General and Vascular Surgery</option>
                  <option value="22">General Surgery</option>
                  <option value="23">General Vascular Surgery</option>
                  <option value="24">Hand and Plastic Surgery</option>
                  <option value="25">Hematology / Oncology (Blood and Cancer)</option>
                  <option value="26">Infectious Disease</option>
                  <option value="27">Internal Medicine</option>
                  <option value="28">Nephrology (Kidney, Blood Pressure)</option>
                  <option value="29">Neuro-Oncology (Cancer &amp; Tumors)</option>
                  <option value="30">Neurological Surgery (Nerves)</option>
                  <option value="31">Neurology (Nerves, Spinal Cord, Nerves)</option>
                  <option value="32">Nurse Practitioner</option>
                  <option value="33">Obstetrics / Gynecology / Pregnancy</option>
                  <option value="34">Occupational Medicine</option>
                  <option value="35">Oncology (Cancer)</option>
                  <option value="36">Ophthalmology (Eye, Vision)</option>
                  <option value="37">Oral and Maxillofacial Surgery</option>
                  <option value="38">Orthodontics (Tooth Braces)</option>
                  <option value="39">Orthopedic Surgery (Fracture, Tear, Joint Dislocation)</option>
                  <option value="40">Otolaryngology (Tonsil, thyroid, neck etc)</option>
                  <option value="41">Pain Management</option>
                  <option value="42">Pain Medicine</option>
                  <option value="43">Pathology (Laboratories)</option>
                  <option value="44">Pediatric Nurse Practitioner</option>
                  <option value="45">Pediatrics (Infants and Children)</option>
                  <option value="46">Perinatology (Infants before birth)</option>
                  <option value="47">Plastic and Reconstructive Surgery</option>
                  <option value="48">Podiatry (Foot, Lower leg)</option>
                  <option value="49">Proctology (Anus, Rectum, Colon)</option>
                  <option value="50">Prosthetics/Orthotics (Artificial Limbs)</option>
                  <option value="51">Psychiatry (Mental Disorders)</option>
                  <option value="52">Psychology - Clinical</option>
                  <option value="53">Pulmonary Medicine (Chest Medicine, Lung Specialist)</option>
                  <option value="54">Radiation Oncology</option>
                  <option value="55">Radiology (X-RAY, MRI, Ultrasound Imaging etc)</option>
                  <option value="56">Rheumatology (Bone, Joints)</option>
                  <option value="57">Sleep Medicine</option>
                  <option value="58">Spine Surgery</option>
                  <option value="59">Sports Medicine</option>
                  <option value="60">Thoracic Surgery</option>
                  <option value="61">Urology</option>
                  <option value="62">Vascular Medicine</option>
                  </select>
            </div>

            

            <div class="new_speciality panel">
              <div class="row">
                <div class="field">
                  Couldnt find your speciality in this list? <strong>Add your speciality here</strong>
                </div>
                
                <div class="field">
                  <label>Name of speciality</label>
                  <input name="data[Specialty][name]" maxlength="100" type="text">
                </div>

                <div class="field">
                  <label>Description</label>
                  <input name="data[Specialty][description]" type="text">
                </div>

                <div class="field">
                  <input type="submit" value="Add Speciality" class="button success tiny right">
                </div>
              </div>
            </div><!--new_speciality-->

          </form>
        </div>
      </div>
      <div class="row">
        <div class="right button_list">
          <a href="#create_profile/personal_details" class="button tiny secondary prev">Previous</a>
          <a href="#create_profile/qualifications" class="button tiny primary next">Next</a>
        </div>
      </div>
</script>

<script type="text/template" id="qualifications_template">
    <div class="row">
        <div class="twelve columns">
          <form class="qualifications" method="post">

            <input type="hidden" value="<%= id %>" name="data[Qualification][doctor_id]">


            <div class="field">
              <label>Degree</label>
              <select name="data[Qualification][degree_id]" id="QualificationDegreeId">
                <option value="4">Fellowship - Pulmonology</option>
                <option value="1">MBBS</option>
                <option value="2">MD</option>
                <option value="3">Residency</option>
              </select>
            </div>

            <div class="field">
              <label>Location</label>
              <select name="data[Qualification][location_id]" id="QualificationLocationId">
                <option value="2">Sama Chest Center</option>
                <option value="3">Sir Ganga Ram Hospital</option>
                <option value="4">St Lukes Rosevelt Hospital</option>
              </select>
            </div>

            <div class="field">
              <label>Year</label>
              <textarea name="data[Qualification][year]" cols="30" rows="6" id="QualificationYear"></textarea>
            </div>

            <div class="field">
              <label>Department</label>
              <input name="data[Qualification][dept]" maxlength="45" type="text" id="QualificationDept">
            </div>

          </form>
        </div>
      </div>
      <div class="row">
        <div class="right button_list">
          <a href="#create_profile/specializations" class="button tiny secondary prev">Previous</a>
          <a href="#create_profile/experiences" class="button tiny primary next">Next</a>
        </div>
      </div>
</script>

<script type="text/template" id="experiences_template">
  <div class="row">
        <div class="twelve columns">
          <form class="experiences" method="post">

            <input type="hidden" value="<%= id %>" name="data[Experience][doctor_id]">


            <div class="field">
              <div class="row select_row">
              <label>From</label>
              <div class="four columns">
                <select name="data[Experience][from][month]" id="ExperienceFromMonth">
                  <option value="01">January</option>
                  <option value="02">February</option>
                  <option value="03">March</option>
                  <option value="04">April</option>
                  <option value="05">May</option>
                  <option value="06">June</option>
                  <option value="07">July</option>
                  <option value="08">August</option>
                  <option value="09">September</option>
                  <option value="10">October</option>
                  <option value="11">November</option>
                  <option value="12">December</option>
                </select>
              </div><!--four columns-->

              <div class="four columns">
                <select name="data[Experience][from][day]" id="ExperienceFromDay">
                  <option value="01">1</option>
                  <option value="02">2</option>
                  <option value="03">3</option>
                  <option value="04">4</option>
                  <option value="05">5</option>
                  <option value="06">6</option>
                  <option value="07">7</option>
                  <option value="08">8</option>
                  <option value="09">9</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                  <option value="13">13</option>
                  <option value="14">14</option>
                  <option value="15">15</option>
                  <option value="16">16</option>
                  <option value="17">17</option>
                  <option value="18">18</option>
                  <option value="19">19</option>
                  <option value="20">20</option>
                  <option value="21">21</option>
                  <option value="22">22</option>
                  <option value="23">23</option>
                  <option value="24">24</option>
                  <option value="25">25</option>
                  <option value="26">26</option>
                  <option value="27">27</option>
                  <option value="28">28</option>
                  <option value="29">29</option>
                  <option value="30">30</option>
                  <option value="31">31</option>
                </select>
              </div><!--four columns-->

              <div class="four columns">
                <select name="data[Experience][from][year]" id="ExperienceFromYear">
                  <option value="2032">2032</option>
                  <option value="2031">2031</option>
                  <option value="2030">2030</option>
                  <option value="2029">2029</option>
                  <option value="2028">2028</option>
                  <option value="2027">2027</option>
                  <option value="2026">2026</option>
                  <option value="2025">2025</option>
                  <option value="2024">2024</option>
                  <option value="2023">2023</option>
                  <option value="2022">2022</option>
                  <option value="2021">2021</option>
                  <option value="2020">2020</option>
                  <option value="2019">2019</option>
                  <option value="2018">2018</option>
                  <option value="2017">2017</option>
                  <option value="2016">2016</option>
                  <option value="2015">2015</option>
                  <option value="2014">2014</option>
                  <option value="2013">2013</option>
                  <option value="2012">2012</option>
                  <option value="2011">2011</option>
                  <option value="2010">2010</option>
                  <option value="2009">2009</option>
                  <option value="2008">2008</option>
                  <option value="2007">2007</option>
                  <option value="2006">2006</option>
                  <option value="2005">2005</option>
                  <option value="2004">2004</option>
                  <option value="2003">2003</option>
                  <option value="2002">2002</option>
                  <option value="2001">2001</option>
                  <option value="2000">2000</option>
                  <option value="1999">1999</option>
                  <option value="1998">1998</option>
                  <option value="1997">1997</option>
                  <option value="1996">1996</option>
                  <option value="1995">1995</option>
                  <option value="1994">1994</option>
                  <option value="1993">1993</option>
                  <option value="1992">1992</option>
                </select>
              </div><!--four columns-->
              </div><!--row-->
            </div><!--field-->


            <div class="field">
              <label>To</label>
              <input name="data[Experience][to]" maxlength="45" type="text" id="ExperienceTo">
              
            </div><!--field-->

            <div class="field">
              <label>Department</label>
              <input name="data[Experience][dept]" maxlength="45" type="text" id="ExperienceDept">
            </div>

            <div class="field">
              <label>Location</label>
              <select name="data[Qualification][location_id]" id="QualificationLocationId">
                <option value="2">Sama Chest Center</option>
                <option value="3">Sir Ganga Ram Hospital</option>
                <option value="4">St Lukes Rosevelt Hospital</option>
              </select>
            </div>



          </form>
        </div>
      </div>
      <div class="row">
        <div class="right button_list">
          <a href="#create_profile/qualifications" class="button tiny secondary prev">Previous</a>
          <a href="#create_profile/consultation" class="button tiny primary next">Next</a>
        </div>
      </div>

</script>

<script type="text/template" id="consultation_template">
  <div class="row">
        <div class="twelve columns">
          <form class="consultation" method="post">

            <input type="hidden" value="<%= id %>" name="data[Docconsultlocation][doctor_id]">


            <div class="field">
              <label>Location</label>
              <select name="data[Docconsultlocation][location_id]" id="DocconsultlocationLocationId">
                <option value="2">Sama Chest Center</option>
                <option value="3">Sir Ganga Ram Hospital</option>
                <option value="4">St Lukes Rosevelt Hospital</option>
              </select>
            </div><!--field-->

            <div class="field">
              <label>Location Type</label>
              <select name="data[Docconsultlocation][consultlocationtype_id]" id="DocconsultlocationConsultlocationtypeId">
                <option value="1">HOSPITAL</option>
                <option value="2">HOME_CLINIC</option>
                <option value="3">OPD CLINIC</option>
              </select>
            </div><!--field-->

            <div class="field">
              <label>Additional Information</label>
              <input name="data[Docconsultlocation][addl]" maxlength="45" type="text" id="DocconsultlocationAddl">
            </div>
          </form>

        </div>
      </div>
      <div class="row">
        <div class="right button_list">
          <a href="#create_profile/experiences" class="button tiny secondary prev">Previous</a>
          <a href="#create_profile/contact_details" class="button tiny primary next">Next</a>
        </div>
      </div>
</script>

<script type="text/template" id="contact_details_template">
  <div class="row">
    <div class="twelve columns">
      <form class="contact_details" method="post">

        <input type="hidden" value="<%= id %>" name="data[DoctorContact][doctor_id]">


        <div class="field">
          <label>Phone Number</label>
          <input name="data[DoctorContact][phone]" maxlength="45" type="text" id="DoctorContactPhone">
        </div>

        <div class="field">
          <label>Email</label>
          <input name="data[DoctorContact][email]" maxlength="150" type="text" id="DoctorContactEmail">
        </div>

        <div class="field">
          <label>Type</label>
          <input name="data[DoctorContact][type]" maxlength="45" type="text" id="DoctorContactType">
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="right button_list">
      <a href="#create_profile/consultation" class="button tiny secondary prev">Previous</a>
      <a href="#" class="button tiny success next save">Create</a>
    </div>
  </div>
</script>


<script type="text/template" id="create_profile">
  <dl class="tabs contained">
    <dd class="active"><a href="#create_profile/personal_details">Personal Details</a></dd>
    <dd><a href="#create_profile/specializations">Specializations</a></dd>
    <dd><a href="#create_profile/qualifications">Qualifications</a></dd>
    <dd><a href="#create_profile/experiences">Experiences</a></dd>
    <dd><a href="#create_profile/consultation">Consultation</a></dd>
    <dd><a href="#create_profile/contact_details">Contact Details</a></dd>
  </dl>


  <ul class="tabs-content contained">
    <li class="active" id="personal_detailsTab"></li>
    <li id="specializationsTab"></li>
    <li id="qualificationsTab"></li>
    <li id="experiencesTab"></li>
    <li id="consultationTab"></li>
    <li id="contact_detailsTab"></li>
  </ul>


</script>

</head>
<body class="landing_page">


  
  <!-- Footer -->
  

  
  
  <!-- Included JS Files (Uncompressed) -->
  <script src="javascripts/foundation/jquery.js"></script>
  <script src="javascripts/foundation/jquery.foundation.accordion.js"></script>
  <script src="javascripts/foundation/jquery.foundation.alerts.js"></script>
  <script src="javascripts/foundation/jquery.foundation.buttons.js"></script>
  <script src="javascripts/foundation/jquery.foundation.forms.js"></script>
  <script src="javascripts/foundation/jquery.foundation.mediaQueryToggle.js"></script>
  <script src="javascripts/foundation/jquery.foundation.navigation.js"></script>
  <script src="javascripts/foundation/jquery.foundation.orbit.js"></script>
  <script src="javascripts/foundation/jquery.foundation.reveal.js"></script>
  <script src="javascripts/foundation/jquery.foundation.tabs.js"></script>
  <script src="javascripts/foundation/jquery.foundation.tooltips.js"></script>
  <script src="javascripts/foundation/jquery.foundation.topbar.js"></script>
  <script src="javascripts/foundation/jquery.placeholder.js"></script>
  
  
  <!-- Application Javascript, safe to override -->
  <script src="javascripts/foundation/app.js"></script>
  <script src="javascripts/vendor/jquery-ui.js"></script>
  <script src="javascripts/vendor/jquery.elastislide.js"></script>
  <script src="javascripts/vendor/chosen.jquery.min.js"></script>
  <script src="javascripts/autocomplete_chosen.js"></script>

  <!-- Backbone -->
  <script src="javascripts/vendor/underscore.js"></script>
  <script src="javascripts/vendor/backbone.js"></script>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
  <script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobubble/src/infobubble-compiled.js"></script>
  <!-- Initialize -->
  <script src="javascripts/vendor/jquery.wrapinbox.js"></script>
  <script src="javascripts/init.js"></script>


</body>
</html>
