/* line 63, ../sass/base.scss */
body {
  overflow-x: hidden;
}

/* line 66, ../sass/base.scss */
a:hover {
  color: #319bfc;
}

/* line 70, ../sass/base.scss */
a:active {
  color: #0267c5;
}

/* line 75, ../sass/base.scss */
header#header span.foundicon-plus {
  padding-right: 10px;
  font-size: 15px;
}

/* line 81, ../sass/base.scss */
section.jumbotron {
  margin-top: 60px;
  padding: 10px 0;
}
/* line 85, ../sass/base.scss */
section.jumbotron div.ask_main h2, section.jumbotron div.find_main h2 {
  font-size: 30px;
  color: #5b5b5c;
}
/* line 87, ../sass/base.scss */
section.jumbotron div.ask_main h2 span.foundicon-search, section.jumbotron div.find_main h2 span.foundicon-search {
  padding-right: 10px;
  position: relative;
  top: 8px;
}
/* line 95, ../sass/base.scss */
section.jumbotron div.ask_main .row.collapse, section.jumbotron div.find_main .row.collapse {
  margin-top: 15px;
}
/* line 97, ../sass/base.scss */
section.jumbotron div.ask_main .row.collapse input.ask, section.jumbotron div.ask_main .row.collapse a.button, section.jumbotron div.find_main .row.collapse input.ask, section.jumbotron div.find_main .row.collapse a.button {
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 22px;
}
/* line 103, ../sass/base.scss */
section.jumbotron div.ask_main .row.collapse a.button, section.jumbotron div.find_main .row.collapse a.button {
  line-height: 0;
}
/* line 110, ../sass/base.scss */
section.jumbotron div.find_main h2 {
  position: relative;
  top: -5px;
}
/* line 113, ../sass/base.scss */
section.jumbotron div.find_main h2 span.foundicon-location {
  position: relative;
  top: 5px;
}
/* line 120, ../sass/base.scss */
section.jumbotron .find_doctor_field {
  margin-top: 15px;
}
/* line 123, ../sass/base.scss */
section.jumbotron .find_doctor_field .button.radius {
  padding: 8px 20px 9px;
}

/* line 131, ../sass/base.scss */
.top-bar ul li .round.progress.success {
  width: 80%;
  margin-left: 10%;
  height: 12px;
}

/* line 137, ../sass/base.scss */
.top-bar ul > li.search form {
  margin-top: 10px;
}

/* line 141, ../sass/base.scss */
.top-bar ul > li.search form input[type="text"] {
  width: 64%;
  padding: 0 5px;
}

/* line 145, ../sass/base.scss */
.top-bar ul > li.search form input[type="text"] + .button {
  padding: 7px 12px 7px;
}

/* line 156, ../sass/base.scss */
#content {
  margin-top: 30px;
}
/* line 159, ../sass/base.scss */
#content .feed_entry:hover {
  color: #282829;
}
/* line 163, ../sass/base.scss */
#content .feed_entry {
  padding: 20px;
  border: 1px solid #f1f1f1;
  border-top: 4px solid #73aef7;
  overflow: hidden;
  margin-bottom: 30px;
}
/* line 167, ../sass/base.scss */
#content .feed_entry:hover {
  border-top: 4px solid #0382f7;
}
/* line 169, ../sass/base.scss */
#content .feed_entry:hover .meta.bottom {
  background: #0382f7;
}
/* line 172, ../sass/base.scss */
#content .feed_entry:hover .question.h3 {
  color: black;
}
/* line 178, ../sass/base.scss */
#content .feed_entry .meta {
  background: #e1e1e1;
  margin-left: -20px;
  width: 110%;
  padding-top: 10px;
  height: 45px;
}
/* line 184, ../sass/base.scss */
#content .feed_entry .meta.top {
  margin-top: -20px;
}
/* line 188, ../sass/base.scss */
#content .feed_entry .meta.bottom {
  position: relative;
  top: 20px;
  height: 52px;
  background: #73aef7;
}
/* line 193, ../sass/base.scss */
#content .feed_entry .meta.bottom button.button {
  margin-right: 30px;
  padding: 5px 18px 6px;
  font-size: 14px;
}
/* line 197, ../sass/base.scss */
#content .feed_entry .meta.bottom button.button span.foundicon-checkmark {
  padding-right: 10px;
  position: relative;
  top: 2px;
}
/* line 204, ../sass/base.scss */
#content .feed_entry .meta img {
  padding-right: 10px;
  padding-top: 0;
  display: block;
  float: left;
  margin-top: 4px;
}
/* line 212, ../sass/base.scss */
#content .feed_entry .meta p.time {
  color: #282829;
  font-style: italic;
  font-size: 12px;
  text-align: right;
  padding-right: 10px;
  margin-top: 4px;
}
/* line 221, ../sass/base.scss */
#content .feed_entry .question {
  margin-top: 0px;
}
/* line 223, ../sass/base.scss */
#content .feed_entry .question h3 {
  margin: 0;
}
/* line 226, ../sass/base.scss */
#content .feed_entry .question a:hover h3 {
  color: #282829;
}
/* line 229, ../sass/base.scss */
#content .feed_entry .question a:active h3 {
  color: #0267c5;
}
/* line 234, ../sass/base.scss */
#content .feed_entry .answer {
  margin-top: 20px;
  margin-bottom: 20px;
}
/* line 240, ../sass/base.scss */
#content .feed_entry.doctor_list h3.doctor_name {
  margin-top: 0;
}
/* line 243, ../sass/base.scss */
#content .feed_entry.doctor_list .icon {
  position: relative;
  left: -2px;
  top: 2px;
}
/* line 248, ../sass/base.scss */
#content .feed_entry.doctor_list .meta.bottom {
  width: 120%;
  height: 55px;
}
/* line 253, ../sass/base.scss */
#content .feed_entry.doctor_list .about_doctor li {
  font-size: 14px;
  padding-top: 5px;
}
/* line 262, ../sass/base.scss */
#content .nav_sidebar .health_profile_header {
  font-size: 14px;
  color: #585858;
}
/* line 265, ../sass/base.scss */
#content .nav_sidebar .health_profile_header strong {
  color: #323232;
}
/* line 270, ../sass/base.scss */
#content .nav_sidebar dl.tabs.vertical dd.active a {
  background: #3772AC;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.7);
}
/* line 275, ../sass/base.scss */
#content .nav_sidebar dl.tabs.vertical dd a:hover {
  background: #d8d8d8;
}
/* line 279, ../sass/base.scss */
#content .nav_sidebar dl.tabs.vertical dd.active a:hover {
  background: #3772AC;
}
/* line 283, ../sass/base.scss */
#content .nav_sidebar dl.tabs.vertical dd.active {
  border-left-color: #2B5885;
  border-top-color: #2B5885;
}
/* line 288, ../sass/base.scss */
#content .nav_sidebar .profile_image_holder {
  margin-bottom: 20px;
  position: relative;
}
/* line 292, ../sass/base.scss */
#content .nav_sidebar .profile_image_holder .button.edit_link {
  position: absolute;
  top: 85px;
  left: 70px;
  display: none;
}
/* line 299, ../sass/base.scss */
#content .nav_sidebar .profile_image_holder:hover .edit_link {
  display: block;
}
/* line 305, ../sass/base.scss */
#content .recommended_topics {
  overflow: hidden;
}
/* line 307, ../sass/base.scss */
#content .recommended_topics h3 {
  text-transform: uppercase;
  font-size: 12px;
  margin-top: -20px;
  margin-left: -20px;
  width: 124%;
  padding: 10px;
  background: #73aef7;
}
/* line 316, ../sass/base.scss */
#content .recommended_topics:hover {
  background: #FFF;
}
/* line 317, ../sass/base.scss */
#content .recommended_topics:hover h3 {
  background: #0382f7;
  color: #FFF;
}
/* line 324, ../sass/base.scss */
#content .recommended_topics ul {
  padding: 5px;
}
/* line 326, ../sass/base.scss */
#content .recommended_topics ul li {
  padding: 10px  0px !important;
  border-top: 1px solid #e4e4e4;
}
/* line 329, ../sass/base.scss */
#content .recommended_topics ul li:hover {
  border-color: #d7d7d7;
}
